h1 {
  font-size: 60px;
  font-family: sans serif;
}

h2 {
  font-style: italic;
  color: #92b;
}

h3 {
  font-family: indie flower;
  color: #920;
}
p {
  font-weight: 300;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: 10px;
}j
